In [1]:
import pandas as pd

/Users/edmondniu/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

## Enter Subject Number ##

In [2]:
#Subject Number
subjN = 3

## Import Mapping Data and Clean It ##

In [3]:
mapping = pd.read_csv("Misophonia Mapping Sounds.csv")
mapping = mapping[['Name', 'Number']]
mapping.columns = ['Name', 'Sound']
mapping.head()

                     Name  Sound
0      a_AlarmClock_s.wav      1
1      a_AngryBeast_s.wav      2
2    a_BabiesCrying_s.wav      3
3     a_CarsHonking_s.wav      4
4  a_ChildScreaming_s.wav      5

## Import Qualtrics Form Data ##

In [4]:
# Data provided by the user
data = {
    "Subject Number": [2, 3],
    "1_Rating": [-9, -9],
    "1_Trigger": ["No", "No"],
    "2_Rating": [-8, -8],
    "2_Trigger": ["Yes", "Yes"],
    "3_Rating": [-7, -7],
    "3_Trigger": ["Yes", "Yes"],
    "4_Rating": [4, 4],
    "4_Trigger": [None, None],
    "5_Rating": [8, 8],
    "5_Trigger": [None, None]
}

# Creating the DataFrame
dfOld = pd.DataFrame(data)
df = pd.read_csv("miso raw data 3.csv")

df

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,7_Q51,8_Q49_1,8_Q52,8_Q51,9_Q49_1,9_Q52,9_Q51,10_Q49_1,10_Q52,10_Q51
0,2/29/24 16:54,2/29/24 16:55,Survey Preview,NaN,100,63,True,2/29/24 16:55,R_1OueqEAlrige2sx,NaN,...,NaN,5,No,NaN,6,Yes,NaN,7,Yes,NaN
1,2/29/24 16:56,2/29/24 16:57,IP Address,152.3.43.50,100,60,True,2/29/24 16:57,R_7AIOikkLbtspISB,NaN,...,Yes,-4,NaN,Yes,-3,NaN,Yes,-1,NaN,Yes

## Manipulate / Wrangle the Input Qualtrics Data ##

In [5]:
#remove uneccessary columns
columns_list = df.columns.tolist()
#print(columns_list)
columns_to_remove = ['StartDate', 'EndDate', 'Status', 'IPAddress', 'Progress', 'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId', 'RecipientLastName', 'RecipientFirstName', 'RecipientEmail', 'ExternalReference', 'LocationLatitude', 'LocationLongitude', 'DistributionChannel', 'UserLanguage', 'Browser Type_Browser', 'Browser Type_Version', 'Browser Type_Operating System', 'Browser Type_Resolution', 'sounds', '3Min_Timer_First Click', '3Min_Timer_Last Click', '3Min_Timer_Page Submit', '3Min_Timer_Click Count']
df = df.drop(columns=columns_to_remove)
df.rename(columns={'Subject#': 'Subject Number'}, inplace=True)
df

,Subject Number,1_Q49_1,1_Q52,1_Q51,2_Q49_1,2_Q52,2_Q51,3_Q49_1,3_Q52,3_Q51,...,7_Q51,8_Q49_1,8_Q52,8_Q51,9_Q49_1,9_Q52,9_Q51,10_Q49_1,10_Q52,10_Q51
0,2,-9,NaN,No,-8,NaN,No,-7,NaN,No,...,NaN,5,No,NaN,6,Yes,NaN,7,Yes,NaN
1,3,-9,NaN,Yes,-8,NaN,Yes,-7,NaN,Yes,...,Yes,-4,NaN,Yes,-3,NaN,Yes,-1,NaN,Yes

In [6]:
# Pivoting the DataFrame to match the desired format

# Melting the dataframe to make it long
df_melted = df.melt(id_vars=["Subject Number"],
                    var_name="Sound_Trigger",
                    value_name="Value")
#df_melted

In [7]:
# Splitting the Sound_Trigger column into two separate columns: one for Sound, another for Trigger/Rating
df_melted['Sound'] = df_melted['Sound_Trigger'].apply(lambda x: x.split('_')[0])
df_melted['Type'] = df_melted['Sound_Trigger'].apply(lambda x: x.split('_')[1])
#df_melted

In [8]:
# Pivoting the table to get the correct format
df_pivoted = df_melted.pivot_table(index=['Subject Number', 'Sound'], columns='Type', values='Value', aggfunc='first').reset_index()
#df_pivoted

In [9]:
# Renaming columns for clarity
df_final = df_pivoted.rename(columns={"Subject Number": "Subject", "Rating": "Rating", "Trigger": "Trigger"})
df_final['Sound'] = df_final['Sound'].astype(int)  # Converting Sound to numeric for proper sorting

df_final = df_final.sort_values(by=['Sound']).reset_index(drop=True)

#merge mapping + df_final
df_final = pd.merge(df_final, mapping, on="Sound")

In [10]:
#Delete this
df_final.rename(columns={'Q49': 'Rating'}, inplace=True)
df_final.rename(columns={'Q51': 'Trigger'}, inplace=True)
df_final.rename(columns={'Q52': 'Memory'}, inplace=True)

### Drop All Positive Sounds ###

In [11]:
#get rid of all NaN values in Trigger column (get rid of positive sounds)
df_final = df_final.dropna(subset=['Trigger'])

### Drop Memory Column ###

In [12]:
#Drop Memory Column (not needed)
df_final = df_final.drop(columns=['Memory'])

### Take Absolute Value of All Ratings ###

In [13]:
df_final['Rating'] = df_final['Rating'].abs()

### Visualize all Sounds Miso/NonMiso For Subject # ###

In [14]:
df_final[df_final['Subject'] == subjN].sort_values(by=['Trigger']).reset_index(drop=True)

   Subject  Sound Rating Trigger                    Name
0        3      1      9     Yes      a_AlarmClock_s.wav
1        3      2      8     Yes      a_AngryBeast_s.wav
2        3      3      7     Yes    a_BabiesCrying_s.wav
3        3      4      9     Yes     a_CarsHonking_s.wav
4        3      5      8     Yes  a_ChildScreaming_s.wav
5        3      6      7     Yes       a_CryingMan_s.wav
6        3      7      9     Yes     a_DangerAlarm_s.wav
7        3      8      4     Yes              a_DV_s.wav
8        3      9      3     Yes            a_Fart_s.wav
9        3     10      1     Yes    a_FemaleScream_s.wav

## Create Table of Sounds --> Ratings (FOR SPECIFIC SUBJECTS) ##

In [15]:
sound_rating = df_final[ (df_final['Subject'] == subjN) ]
sound_rating = sound_rating[['Name', 'Trigger', 'Rating']].reset_index(drop=True)
sound_rating

                     Name Trigger Rating
0      a_AlarmClock_s.wav     Yes      9
1      a_AngryBeast_s.wav     Yes      8
2    a_BabiesCrying_s.wav     Yes      7
3     a_CarsHonking_s.wav     Yes      9
4  a_ChildScreaming_s.wav     Yes      8
5       a_CryingMan_s.wav     Yes      7
6     a_DangerAlarm_s.wav     Yes      9
7              a_DV_s.wav     Yes      4
8            a_Fart_s.wav     Yes      3
9    a_FemaleScream_s.wav     Yes      1

In [16]:
#Create Ranking

# Group by 'Trigger', rank each group, and map the rankings back to the original DataFrame.
sound_rating['Ranking'] = sound_rating.groupby('Trigger')['Rating'].rank(ascending=True, method='first').astype(int)

# Now sort by 'Trigger' and then by 'Ranking' within each group to see the results.
sound_rating.sort_values(by=['Trigger', 'Ranking'], inplace=True)

sound_rating

                     Name Trigger Rating  Ranking
9    a_FemaleScream_s.wav     Yes      1        1
8            a_Fart_s.wav     Yes      3        2
7              a_DV_s.wav     Yes      4        3
2    a_BabiesCrying_s.wav     Yes      7        4
5       a_CryingMan_s.wav     Yes      7        5
1      a_AngryBeast_s.wav     Yes      8        6
4  a_ChildScreaming_s.wav     Yes      8        7
0      a_AlarmClock_s.wav     Yes      9        8
3     a_CarsHonking_s.wav     Yes      9        9
6     a_DangerAlarm_s.wav     Yes      9       10

In [17]:
#Create Order Label
dictionary = {1: "A",
              2: "B",
              3: "C",
              4: "D",
              5: "E",
              6: "F",
              7: "G",
              8: "H",
              9: "I",
              10: "J" }

dictionary2 = {"A": 1,
               "B": 5,
               "C": 2,
               "D": 6,
               "E": 3,
               "F": 7,
               "G": 9,
               "H": 4,
               "I": 8,
               "J": 10}

sound_rating['Alpha'] = sound_rating['Ranking'].map(dictionary)
sound_rating['Order_Label'] = sound_rating['Alpha'].map(dictionary2)

column_to_remove = ['Alpha']
sound_rating = sound_rating.drop(columns=column_to_remove)

sound_rating

                     Name Trigger Rating  Ranking  Order_Label
9    a_FemaleScream_s.wav     Yes      1        1            1
8            a_Fart_s.wav     Yes      3        2            5
7              a_DV_s.wav     Yes      4        3            2
2    a_BabiesCrying_s.wav     Yes      7        4            6
5       a_CryingMan_s.wav     Yes      7        5            3
1      a_AngryBeast_s.wav     Yes      8        6            9
4  a_ChildScreaming_s.wav     Yes      8        7            7
0      a_AlarmClock_s.wav     Yes      9        8            4
3     a_CarsHonking_s.wav     Yes      9        9           10
6     a_DangerAlarm_s.wav     Yes      9       10            8

## Create Imaging Sounds DFs: ##
### 1. 10 Miso Sound DF ###

In [18]:
# Filtering rows where Trigger is 'Yes', then grouping by 'Subject' and taking the top 2 rows per group based on 'Rating'
df_yes = df_final[ (df_final['Trigger'] == 'Yes') & (df_final['Subject'] == subjN) ].sort_values(by=['Subject', 'Rating'], ascending=[True, False])

# Taking top 10 per person (Subject)
YesMiso_top10 = df_yes.groupby('Subject').head(10).reset_index(drop=True)

YesMiso_top10

   Subject  Sound Rating Trigger                    Name
0        3      1      9     Yes      a_AlarmClock_s.wav
1        3      4      9     Yes     a_CarsHonking_s.wav
2        3      7      9     Yes     a_DangerAlarm_s.wav
3        3      2      8     Yes      a_AngryBeast_s.wav
4        3      5      8     Yes  a_ChildScreaming_s.wav
5        3      3      7     Yes    a_BabiesCrying_s.wav
6        3      6      7     Yes       a_CryingMan_s.wav
7        3      8      4     Yes              a_DV_s.wav
8        3      9      3     Yes            a_Fart_s.wav
9        3     10      1     Yes    a_FemaleScream_s.wav

### Enough miso sounds? Create duplicates if repeats are needed for miso sounds ###

In [19]:
import random

#set warning
numRows = YesMiso_top10.shape[0]
numRepeats = 10 - numRows
warning = True if numRows < 10 else False

#repeats < 5 sounds
if numRows < 5:
    items = YesMiso_top10['Name'].tolist()
    duplicates = random.choices(items, k=numRepeats)
elif numRows < 10:
    items = YesMiso_top10['Name'].tolist() #will be more than 5
    duplicates = random.sample(items, k=numRepeats)

## Create Imaging Sounds DFs: ##
### 2. 10 No Miso Sound DF ###

In [20]:
# Filtering rows where Trigger is 'No', then grouping by 'Subject' and taking the top 2 rows per group based on 'Rating'
df_no = df_final[ (df_final['Trigger'] == 'No') & (df_final['Subject'] == subjN) ].sort_values(by=['Subject', 'Rating'], ascending=[True, False])

# Taking top 10 per person (Subject)
NoMiso_top10 = df_no.groupby('Subject').head(10).reset_index(drop=True)

NoMiso_top10

Empty DataFrame
Columns: [Subject, Sound, Rating, Trigger, Name]
Index: []

## Save Miso and Non-Miso DFs as CSVs to SubjectData/SubjectNum ##

In [21]:
import os
# Saving just the Sound column to a new CSV file for each subject number

# Name of the subdirectory to create within the current directory
subdirectory_name = 'SubjectData/subject_' + str(subjN)

# Create the subdirectory if it doesn't exist
if not os.path.exists(subdirectory_name):
    os.makedirs(subdirectory_name)
    
# Filtering out unique subjects
unique_subjects = YesMiso_top10['Subject'].unique()

# Creating a CSV file for each subject containing only the Sound column
csv_paths = []
for subject in unique_subjects:
    # Filter dataframe for each subject
    df_subject_yes = YesMiso_top10[YesMiso_top10['Subject'] == subject]['Name']
    df_subject_no = NoMiso_top10[NoMiso_top10['Subject'] == subject]['Name']

    #if warning is true
    if warning:
        #add those duplicates to the output file

        #create warning text file. Populate with numDuplicates and what are the duplicates?
        csv_file_path_warning = os.path.join(subdirectory_name, f'subject_{subject}_warning.txt')
        dup_set = set(duplicates)
        with open(csv_file_path_warning, 'w') as file:
            file.write("WARNING! SUBJECT DID NOT CLASSIFY 10 UNIQUE SOUNDS AS MISOPHONIC." + "\n\n" + 
                       "Total Number of Missing Miso Sounds (i.e. # Audio Files Repeated to bring total to 10): "
                       + str(numRepeats) + "\n\n" + 
                       "Audio Files that were repeated: " + str(dup_set))
        print(f"File saved to {csv_file_path_warning}")
        csv_paths.append(csv_file_path_warning)

        # Add duplicates to the existing sounds to create the final sounds (with repeats)
        duplicates_df = pd.DataFrame(duplicates)
        df_subject_yes = pd.concat([df_subject_yes, duplicates_df], ignore_index=True)
        
    
    # Define file path
    csv_file_path_10Miso = os.path.join(subdirectory_name, f'subject_{subject}_Miso_sound.csv')
    csv_file_path_10NonMiso = os.path.join(subdirectory_name, f'subject_{subject}_Aversive_sound.csv')
    csv_file_path_sound_rating = os.path.join(subdirectory_name, f'subject_{subject}_sound_ratings.csv')
    
    # Save the Sound column to CSV
    df_subject_yes.to_csv(csv_file_path_10Miso, index=False, header=False)
    df_subject_no.to_csv(csv_file_path_10NonMiso, index=False, header=False)
    sound_rating.to_csv(csv_file_path_sound_rating, index=False, header=False)
    
    # Collecting file paths for download links
    csv_paths.append(csv_file_path_10Miso)
    csv_paths.append(csv_file_path_10NonMiso)
    csv_paths.append(csv_file_path_sound_rating)

csv_paths

['SubjectData/subject_3/subject_3_Miso_sound.csv',
 'SubjectData/subject_3/subject_3_Aversive_sound.csv',
 'SubjectData/subject_3/subject_3_sound_ratings.csv']